.marginatas{
    margin-top: 20px;
}
.admin-info img{width: 80px;height: 80px;border-radius: 50%;margin:0 auto;display: block;}
.admin-info span{text-align: center;display: block;padding: 2px;color: #565656}
.admin-info{padding: 10px 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.06);margin-bottom: 5px;}
